.wrapper {
  display: flex;
  flex-direction: column;
  gap: 15px;
  font-size: 14px;
  margin-top: 60px;
  color: #888;
}

.number {
  text-decoration: none;
  color: black;
  font-size: 36px;
}

.line {
  background: #888;
  width: 100%;
  height: 1px;
}
