.wrapper {
  margin: 0;
  padding: 0;
}

.video {
  position: fixed;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: brightness(0.8);
  z-index: -10;
}

.searchBar {
  position: fixed;
  top: calc(50% - 25px);
  left: calc(50% - 325px);
}

.title {
  position: fixed;
  width: 100%;
  top: calc(50% - 180px);
  text-align: center;
  font-size: 72px;
  color: white;
  animation: appearence 2s;
}

@keyframes appearence {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
